---
import Default from '@layouts/Default.astro';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import spirited from '../../public/spirited-blog.jpg';

const blogPosts = await getCollection('blog', ({ data }) => {
  return data.draft !== true;
});

// Sort my blog posts
blogPosts.sort((a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf());
---

<Default
  title="Blog – Max DeMaio"
  image="https://maxdemaio.com/spirited-blog.jpg"
  description="All my blog posts in one place."
  showEmailList
>
  <section class="mb-6">
    <h1 class="text-black dark:text-white font-kai font-bold text-4xl mb-8">Blog</h1>
    <p>
      <span class="font-bold text-black dark:text-white">max overflow</span> is a blog about software, language, business,
      and life. Sometimes my thoughts overflow and end up here for safekeeping. So far, I've written {blogPosts.length} posts.
      Feel free to stay updated via <a href="https://www.maxdemaio.com/rss.xml" class="mlink">
        <span class="i-tabler-rss"></span>
        RSS feed</a
      > or <a class="mlink" href="#email-list"
        ><span class="i-carbon-email"></span>
        email</a
      >.
    </p>
  </section>
  <section class="mb-4">
    <ul class="space-y-4">
      {
        blogPosts.map((post) => (
          <>
            <li>
              <a href={`/blog/${post.slug}`} class="group">
                <div class="transition-opacity ease-in-out duration-300 text-black dark:text-white opacity-60 group-hover:opacity-100">
                  {post.data.title}
                </div>
                <div class="transition-opacity ease-in-out duration-300 opacity-40 group-hover:opacity-80 space-x-1">
                  <time datetime={post.data.pubDate}>
                    {new Date(post.data.pubDate).toLocaleDateString('en-us', {
                      year: 'numeric',
                      month: 'short',
                      day: 'numeric',
                    })}
                  </time>
                  {post.data.life && (
                    <span class="transition-opacity ease-in-out duration-300 text-pink-600 dark:text-pink-300 group-hover:opacity-100 border rounded px-1 border-pink-600 dark:border-pink-300">
                      life
                    </span>
                  )}
                  <span>·</span>
                  <span>{post.data.duration}min</span>
                </div>
              </a>
            </li>
          </>
        ))
      }
    </ul>

    <div></div>
  </section>

  <Image
    src={spirited}
    quality="max"
    height={1038}
    width={1920}
    class="rounded my-10"
    alt="Spirited Away - Blog Picture"
  />
</Default>
