---
import BlogPostFooter from '@components/BlogPostFooter.astro';
import Navbar from '@components/Navbar.astro';
import { SITE_IMAGE } from '../config';
import type { MarkdownLayoutProps } from 'astro';
import '@styles/prose.css';

type Props = MarkdownLayoutProps<{
  // Frontmatter props
  title: string;
  description: string;
  fileName: string;
  image?: string;
  pubDate: string;
}>;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

// Now, `frontmatter`, `url`, and other Markdown layout properties
// are accessible with type safety
const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/favicon_io/favicon.ico" />
    <link rel="icon" type="image/png" href="/favicon_io/favicon.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon_io/favicon-16x16.png" sizes="16x16" />
    <link rel="apple-touch-icon" type="image/png" href="/favicon_io/apple-touch-icon.png" sizes="180x180" />
    <link rel="manifest" href="/favicon_io/site.webmanifest" />

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{frontmatter.title}</title>
    <meta name="title" content={frontmatter.title} />
    <meta name="description" content={frontmatter.description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={frontmatter.title} />
    <meta property="og:description" content={frontmatter.description} />
    <!-- If an image URL exists, add it. Otherwise, use the site default.  -->
    {!!frontmatter.image ? <meta property="og:image" content={new URL(frontmatter.image, Astro.url)} /> : <meta property="og:image" content={new URL(SITE_IMAGE, Astro.url)} />}

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={frontmatter.title} />
    <meta property="twitter:description" content={frontmatter.description} />
    {!!frontmatter.image ? <meta property="twitter:image" content={new URL(frontmatter.image, Astro.url)} /> : <meta property="twitter:image" content={new URL(SITE_IMAGE, Astro.url)} />}
  </head>
  <body class="text-gray-700 bg-white dark:text-gray-200 dark:bg-neutral-900">
    <Navbar />
    <main class="prose lt-xs:px-4 px-8 max-w-3xl mx-auto text-lg">
      <h1>{frontmatter.title}</h1>
      <div class="font-kai opacity-60 mb-6">
        <time datetime={frontmatter.pubDate}>
          {
            new Date(frontmatter.pubDate).toLocaleDateString('en-us', {
              year: 'numeric',
              month: 'short',
              day: 'numeric',
            })
          }</time
        >
      </div>
      <slot />
      <!-- blog content is injected here -->
    </main>
    <BlogPostFooter fileName={frontmatter.fileName} />
  </body>
</html>
