---
import BlogPostFooter from '@components/BlogPostFooter.astro';
import Navbar from '@components/Navbar.astro';
import { SITE_IMAGE } from '../config';
import type { CollectionEntry } from 'astro:content';
import '@styles/prose.css';

type Props = CollectionEntry<'blog'>['data'];

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

// Now, `frontmatter`, `url`, and other Markdown layout properties
// are accessible with type safety
const { title, description, duration, pubDate, fileName, image } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/favicon_io/favicon.ico" />
    <link rel="icon" type="image/png" href="/favicon_io/favicon.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon_io/favicon-16x16.png" sizes="16x16" />
    <link rel="apple-touch-icon" type="image/png" href="/favicon_io/apple-touch-icon.png" sizes="180x180" />
    <link rel="manifest" href="/favicon_io/site.webmanifest" />

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <!-- If an image URL exists, add it. Otherwise, use the site default.  -->
    {!!image ? <meta property="og:image" content={new URL(image, Astro.url)} /> : <meta property="og:image" content={new URL(SITE_IMAGE, Astro.url)} />}

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    {!!image ? <meta property="twitter:image" content={new URL(image, Astro.url)} /> : <meta property="twitter:image" content={new URL(SITE_IMAGE, Astro.url)} />}
  </head>
  <body class="text-gray-700 bg-white dark:text-gray-200 dark:bg-neutral-900">
    <Navbar />
    <main class="prose break-words lt-xs:px-4 px-8 max-w-3xl mx-auto text-lg">
      <section class="mb-6">
        <h1 id={fileName}>{title}</h1>
        <div class="font-kai opacity-60">
          <time datetime={pubDate}>
            {
              new Date(pubDate).toLocaleDateString('en-us', {
                year: 'numeric',
                month: 'short',
                day: 'numeric',
              })
            }</time>
            <span>·</span>
            <span>{duration}min</span>
        </div>
      </section>
      <slot />
      <!-- blog content is injected here -->
    </main>
    <BlogPostFooter fileName={fileName} />
  </body>
</html>
