---
import BlogPostFooter from '@components/BlogPostFooter.astro';
import Navbar from '@components/Navbar.astro';
import type { CollectionEntry } from 'astro:content';
import CommonHead from '@components/CommonHead.astro';
import '@styles/prose.css';

type Props = CollectionEntry<'blog'>['data'];

// Now, `frontmatter`, `url`, and other Markdown layout properties
// are accessible with type safety
const { title, description, duration, pubDate, fileName, image } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <CommonHead title={title} description={description} image={image} />
  <body class="text-lg text-gray-700 bg-white dark:text-gray-200 dark:bg-neutral-900">
    <Navbar />
    <main class="prose break-words lt-xs:px-4 px-8 max-w-3xl mx-auto text-lg">
      <section class="mb-6">
        <h1 id={fileName}>{title}</h1>
        <div class="font-kai dark:opacity-70 opacity-80">
          <time datetime={pubDate}>
            {
              new Date(pubDate).toLocaleDateString('en-us', {
                year: 'numeric',
                month: 'short',
                day: 'numeric',
              })
            }</time
          >
          {' '}<span>·</span>{' '}
          <span>{duration}min</span>
        </div>
      </section>
      <slot />
      <!-- blog content is injected here -->
    </main>
  </body>
</html>
